@page "/lead/indicacao"
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leads indicados</title>
    <style>
        .table-container {
            width: 100%;
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        tr {
            transition: background-color 0.3s;
        }

            tr.clickable:hover {
                background-color: #f0f0f0;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <h1>Leads indicados</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nome Cliente</th>
                    <th>CPF</th>
                    <th>Tipo de indicação</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @if (Leads?.Any() == false)
                {
                    <tr>
                        <td colspan="6" style="text-align: center; padding: 20px; font-style: italic; color: #999;">Nenhum leads encontrado.</td>
                    </tr>
                }
                @foreach (var lead in Leads)
                {
                    var buttonClass = lead.Status == "pendent"
                    ? "status-pendente"
                    : lead.Status == "não vendido"
                    ? "status-nao-vendido"
                    : "status-outro";

                    <tr>
                        <td>@lead.Name</td>
                        <td>@lead.DocumentCpf</td>
                        <td>
                            <button class="status-button status-outro">
                                @lead.IndicationType
                            </button>
                        </td>
                        <td>
                            <button class="status-button @buttonClass">
                                @lead.Status
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>


@code {
    private List<LeadTest> Leads { get; set; }

    protected override void OnInitialized()
    {
        Leads = new LeadTest().GetLeadTests();
    }

    class LeadTest
    {
        public string Name { get; set; }
        public string DocumentCpf { get; set; }
        public string IndicationType { get; set; }
        public string Status { get; set; }

        public List<LeadTest> GetLeadTests()
        {
            return new List<LeadTest>
            {
                new LeadTest
                {
                    Name = "The current link item",
                    DocumentCpf = "572.215.830-56",
                    IndicationType = "Seguro veiculo",
                    Status = "pendent",
                },
                new LeadTest
                {
                    Name = "The current link item",
                    DocumentCpf = "307.631.260-04",
                    IndicationType = "Seguro moto",
                    Status = "pendent",
                },
                new LeadTest
                {
                    Name = "The current link item",
                    DocumentCpf = "529.596.940-15",
                    IndicationType = "Seguro pet",
                    Status = "pendent",
                },
                new LeadTest
                {
                    Name = "The current link item",
                    DocumentCpf = "301.172.200-51",
                    IndicationType = "Seguro celular",
                    Status = "pendent",
                },
            };
        }
    }
}
