@page "/"
@using Web.Model
@using Web.Services.Interfaces
<h1>Listas dos leads</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome Cliente</th>
            <th>Placa</th>
            <th>Modelo Veiculo</th>
            <th>Ano modelo</th>
            <th>Tipo de lead</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lead in Leads)
        {
            var buttonClass = lead.Status == 1
            ? "status-pendente"
            : lead.Status == 2
            ? "status-nao-vendido"
            : "status-outro";

            <tr>
                <td>@lead.FullName</td>
                <td>@lead.Vehicle.Plate</td>
                <td>@lead.Vehicle.Model</td>
                <td>@lead.Vehicle.ModelYear</td>
                <td>@lead.InsuranceType</td>
                <td>
                    <button class="status-button @buttonClass">@lead.Status</button>
                </td>
            </tr>
        }

    </tbody>
</table>

@code {
    private IReadOnlyList<LeadsModel> Leads = [];

    [Inject]
    private ILeadsService _service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CancellationToken cancellationToken = new();

        var result = await _service.GetLeads(cancellationToken);

        if (result.IsFailure)
        {
            return;
        }

        Leads = result.Value;
    }
}
