@page "/"
@using Web.Model
@inject NavigationManager Navigation
@using Web.Services.Interfaces
@rendermode InteractiveServer

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas dos Leads</title>
    <style>
        .table-container {
            width: 100%;
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        tr {
            transition: background-color 0.3s;
        }

            tr.clickable:hover {
                background-color: #f0f0f0;
                cursor: pointer;
            }

        .status-pendente {
            color: orange;
        }

        .status-nao-vendido {
            color: red;
        }

        .status-outro {
            color: green;
        }
    </style>
</head>
<body>
    <h1>Listas dos Leads</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nome Cliente</th>
                    <th>Placa</th>
                    <th>Modelo Veículo</th>
                    <th>Ano Modelo</th>
                    <th>Tipo de Lead</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @if (Leads?.Any() == false)
                {
                    <tr>
                        <td colspan="6" style="text-align: center; padding: 20px; font-style: italic; color: #999;">Nenhum lead encontrado.</td>
                    </tr>
                }

                @foreach (var lead in Leads)
                {
                    var buttonClass = lead.Status == 1
                    ? "status-pendente"
                    : lead.Status == 2
                    ? "status-nao-vendido"
                    : "status-outro";

                    <tr @onclick="() => handleClick(lead.Id)" style="cursor: pointer;">
                        <td>@lead.FullName</td>
                        <td>@lead.Vehicle.Plate</td>
                        <td>@lead.Vehicle.Model</td>
                        <td>@lead.Vehicle.ModelYear</td>
                        <td>@lead.InsuranceType</td>
                        <td class="@buttonClass">@lead.Status</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</body>
</html>



@code {
    private IReadOnlyList<LeadsModel> Leads = [];

    [Inject]
    private ILeadsService _service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CancellationToken cancellationToken = new();

        var result = await _service.GetLeads(cancellationToken);

        if (result.IsFailure)
        {
            return;
        }

        Leads = result.Value;
    }

    void handleClick(int leadId)
    {
        Navigation.NavigateTo($"/lead/detalhes/{leadId}", forceLoad: true);
    }
}
